Repository lukacivan94/Mealzeit, pull requests merged in 2020-07, with the labels that each got.

#27 Implemented Friendships rationale
  backend/api/controllers/cookrooms.js
  backend/api/controllers/users.js
  backend/api/models/user.js
  backend/api/routes/users.js
Labels: Backend, enhancement

#35 Update signup and image field
  backend/app.js
  frontend/src/components/MultipleSelectField/MultipleSelectField.tsx
  frontend/src/screens/SignUp/SignUp.tsx
  frontend/src/screens/SignUp/SignUpForm.tsx
Labels: enhancement, frontend

#36 Weekly Frontend merge
  backend/app.js
  frontend/src/components/MultipleSelectField/MultipleSelectField.tsx
  frontend/src/screens/SignUp/SignUp.tsx
  frontend/src/screens/SignUp/SignUpForm.tsx
Labels: frontend

#41 Added get friends of user feature
  backend/api/controllers/cookrooms.js
  backend/api/controllers/courses.js
  backend/api/controllers/notifications.js
  backend/api/controllers/users.js
  backend/api/routes/cookrooms.js
  backend/api/routes/notifications.js
  backend/api/routes/users.js
Labels: Backend, bug, enhancement

#42 Backend
  backend/api/controllers/cookrooms.js
  backend/api/controllers/courses.js
  backend/api/controllers/notifications.js
  backend/api/controllers/users.js
  backend/api/routes/cookrooms.js
  backend/api/routes/notifications.js
  backend/api/routes/users.js
Labels: Backend, bug, enhancement

#52 Add recipe connection with backend and updated authentication
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/ProfileBar.tsx
  frontend/src/components/Layout/Profile.tsx
  frontend/src/components/Screen/Screen.tsx
  frontend/src/routes/Routes.tsx
  frontend/src/screens/Auth/Auth.tsx
  frontend/src/screens/Home/HomePage.tsx
  frontend/src/screens/Recipe/Recipe.tsx
  frontend/src/screens/Recipe/RecipeConfirmationStep.tsx
  frontend/src/screens/Recipe/RecipeForm.tsx
  frontend/src/screens/Recipe/RecipeShareStep.tsx
  frontend/src/store/actions/authActions.ts
  frontend/src/store/reducers/authReducer.ts
Labels: enhancement, frontend

#59 Added share friends connection with backend
  frontend/src/App.tsx
  frontend/src/components/AvatarProfile/AvatarImage.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Layout/Profile.tsx
  frontend/src/components/Logo/Logo.tsx
  frontend/src/screens/Home/HomePage.tsx
  frontend/src/screens/Recipe/Recipe.tsx
  frontend/src/screens/Recipe/RecipeShareStep.tsx
  frontend/src/screens/SignUp/SignUp.tsx
  frontend/src/screens/SignUp/SignUpForm.tsx
Labels: enhancement, frontend

#60 added new request notifications
  backend/api/controllers/cookrooms.js
  backend/api/controllers/notifications.js
  frontend/package-lock.json
  frontend/src/components/Header/ProfileBar.tsx
  frontend/src/components/Notification/Notifications.tsx
Labels: frontend

#66 updated logged in user info in header and add base64 to image conversion
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/ProfileBar.tsx
  frontend/src/components/Layout/Profile.tsx
  frontend/src/screens/Auth/Auth.tsx
  frontend/src/screens/Recipe/RecipeShareStep.tsx
  frontend/src/screens/SignUp/SignUpForm.tsx
  frontend/src/utils/imageUtils.ts
Labels: enhancement, frontend

#68 Add accept and reject notifications
  frontend/src/components/Notification/Notifications.tsx
Labels: frontend

#69 Add search in sharing recipe with friends and add private route
  frontend/src/App.tsx
  frontend/src/routes/Routes.tsx
  frontend/src/screens/Auth/Auth.tsx
  frontend/src/screens/Home/HomePage.tsx
  frontend/src/screens/Recipe/Recipe.tsx
  frontend/src/screens/Recipe/RecipeForm.tsx
  frontend/src/screens/Recipe/RecipeShareStep.tsx
  frontend/src/utils/authToken.ts
Labels: enhancement, frontend
